body {
    margin: 0;
    font-family: monospace;
}

html{ scroll-behavior: smooth;}
/* COMEÇO DA HEADER */

.header {
  position: fixed; /* Esse elemento, deixa a div fixa na tela, mas */
  top: 0;          /* ele vai comer a parte debaixo, para concertar cheque a div espacamento */
  right: 0;
    width: 100%;
    height: 100px;
    background-color: #497320f4;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ffffff;
}

.espacamento {     /* coloquei essa div para a header fixa não "comer" a debaixo, assim criando uma div "fantasma" */
    width: 100%;   /* que empurra a debaixo, fazendo ficar certinho, outra opção era colocar margintop na div debaixo */           
    height: 10vh;
    background-color: #497320;
}

.container {
    width: 85vw;
    display: flex;
   
 }

 .div_logobranca {
     width: 8vw;
     height: 8vh;
     margin-left: 2vw;
   
 }

 .div_logobranca .img1 {
     width: 100%;
     height: 100%;
 }

 .titulo {
    color: white;
    margin-left: 1vw;
    font-family: monospace;
   
    
}

 .header .container {
     justify-content: center;
     align-items: center ;
     height: 100%;
 }

 .navbar {
     color: white;
     list-style: none;
     width: 10vw;
     height: 30vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: monospace;
     font-size: 0.6vw;
     
 
}

.navbar li {
     margin-right: 3vw;
     font-weight: bold;
    
}

.navbar .login {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    align-items: center;
}

.login {
    width: 2.4vw;
    height: 4vh;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    border: 0.15vw solid white;
    border-radius: 0.3vw;
    
}

.reflogin {
    color: white;
    text-decoration: none;
}

.navbar .cadastro {
    display: flex;
    align-items: center;
}

.cadastro {
    width: 2.75vw;
    height: 4vh;
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: 0.15vw solid white;
    border-radius: 0.3vw;
    text-decoration: none;
}

.refcadastro {
    color: white;
    text-decoration: none;
}

.homesimulador {
    color: white;
    text-decoration: none;
}

/* COMEÇO DO BODY */


.divtudo{
    background-color:#3e5916;
    width: 100vw;
    
   
}

.divtudo .divprimeira {
  background: #497320;
  width: 100%;
  height: 65vh;
  display: flex;
}

/* DIV FAZENDA */

.fazenda {
    width: 70vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ardcaneref {
    color: white;
    text-decoration: none;
}

.fazendinha {
    width: 35vw;
    height: 70vh;
    
}

/* FIM DIV FAZENDA */

/* DIV do texto do lado da fazenda */

.divtexto1 {
    width: 35vw;
    height: 45vh;
    margin-right: 5vw;
}

.paragrafomaior {
    color: white;
    font-weight: bold;
    font-size: 2vw;
    margin-left: 3vw;
    padding-top: 4vh;

}

.paragrafomenor {
    color: white;
    font-size: 0.8vw;
    margin-left: 3vw;
    font-family: 'Trebuchet MS';
    padding-top: 2vh;
}


.divconfira {
    color: #497320;
    width: 8vw;
    height: 5vh;
    background-color: white;
    font-weight: bold;
    font-size: 1vw;
    margin-left: 100px;
    border: 0.5vw solid white;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.deco2 {
    padding-left: 0.42vw;
}

/* Começo do ardcane */

.divtudo2 {
    width: 100%;
    height: 66vh;
    display:flex;
}

.back1 {
    background-color: #3e5916;
    width: 50%;
    height: 66vh;
    display: flex;
}

.back2 {
    background-color: #c8d98b ;
    width: 45%;
    height: 66vh;
}

/* Banner Ardcane */
.Ardcane {
    background-color: white;
    width: 70%;
    height: 64.7vh;
    
}
.Ardcane .bu {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}



.text {
    color: #3e5916;
    font-size: 1vw;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.ardcanizinho {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
    font-size: 0.75vw;
    margin-top: 6vh;
    color: #8dac3c;
}

.plantinha {
    width: 100% ;
    height: 15vh;
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.planta {
    width:7vw;
    height: 15vh;
}

/* Img fazendeiro*/
.back1 .imgfazendeiro {
    padding-left: 2vw;
    width: 80%;
    height: 60vh;
}


/* Fim do ardcane */


/* Quem Somos*/
.divtudo3 {
    width: 100%;
    height: 50vh;
    display: flex;
}

.quemsomos {
    width: 50%;
    height: 65vh;
    background-color: #c8d98b;
}

.logogrande {
    width: 50%;
    height: 65vh;
}

.logao {
    width: 100%;
    height: 65vh;
}

.somos {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS';
    padding-left: 5vw;
    padding-top: 5vh;
}

.lorem {
     color: #ffffff;
     font-size: 0.8vw;
     padding-left: 5vw;
     padding-top: 3vh;
}

/* parte do Contato */

.contato {
    width: 100%;
    height: 85vh;
    background-color: #497320;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 12vh;
}

.bannercontato {
    background-color: white;
    width: 60%;
    height: 70vh;
    margin-left: 20vw;
    border-radius: 0.8vw;
    display: flex;
}

.verde {
    background-color: #88a61c;
    width: 50%;
    height: 69.46vh;
    border-left: 0.2vw solid #88a61c;
    border-bottom: 0.2vw solid #88a61c ;
    border-bottom-left-radius: 0.8vw;
    border-top-left-radius: 0.68vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome {
    color: black;
    margin-bottom: 2vw;
    border:  0.1vw solid black;
    border-radius: 0.35vw;
    width: 15vw;
    height: 3vh;
}
.email {
    color: black;
    margin-bottom: 2vw;
    border:  0.1vw solid black;
    border-radius: 0.35vw;
    width: 15vw;
    height: 3vh;
}

.numero {
    color: black;
    margin-bottom: 2vw;
    border:  0.1vw solid black;
    border-radius: 0.35vw;
    width: 15vw;
    height: 3vh;
}
.mensagem {
    color: black;
    margin-bottom: 2vw;
    border:  0.1vw solid black;
    border-radius: 0.35vw;
    width: 15vw;
    height: 9vh;
}

::-webkit-input-placeholder {
    color: black;
    font-size: 1vw;
}

.btnenviar {
    color: white;
    background-color: #3e5916;
    height: 4vh;
    width: 6vw;
}

.preta {
    width: 7vw;
    height: 10vh;
    margin-bottom: 2vw;
}

.branca {
    background-color:white;
    width: 50%;
    height: 63vh;
    border-right: 0.35vw solid white;
    border-bottom: 0.35vw solid white ;
    border-bottom-right-radius:0.35vw;
    border-top-right-radius: 0.35vw;
}

.brancatexto1 {
    
    font-family: 'Trebuchet MS';
    font-size: 2.5vw;
    margin-left: 2vw;
    margin-top: 3vh;
}

.brancatexto2 {
    font-size: 0.9vw;
    margin-left: 2vw;
    margin-top: 3vh;
}

.imgcontato {
    margin-top: 0.5vh;
    width: 100%;
    height: 45vh;
}



/* rodapé */

.rodape {
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
}

.rodape1 {
    width: 40%;
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape2 {
    width: 17%;
    height: 15vh;
    margin-left: 5vw;
}

.imgrodape {
   width: 80%;
   height: 15vh;
}

.rodape3 {
    color: white;
    width: 20%;
    height: 15vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rodape4 {
    color: white;
    width: 20%;
    height: 15vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Fim do rodape*/




